<h1 mat-dialog-title>Selecione o candidato</h1>
<form>
  <div mat-dialog-content>
    <div>
      <mat-form-field *ngIf="possuiCandidatos()">
        <mat-select placeholder="Selecione candidato" [(ngModel)]="data.candidato" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let candidato of candidatos" [value]="candidato">
            {{ candidato.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="!possuiCandidatos()">
          Nenhum candidato disponível.
      </p>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="close()" type="button">Cancelar</button>
    <button [disabled]="!data.candidato" mat-button (click)="close(data)" type="submit">Confirmar</button>
  </div>
</form>