<mat-toolbar>
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <span>Usuários GitHub</span>
</mat-toolbar>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button routerLink="/github/Usuario/{{element.login}}">
          <mat-icon>face</mat-icon>
          {{element.id}}
        </button>
      </mat-cell>
    </ng-container>

    <!-- Login Column -->
    <ng-container matColumnDef="login">
      <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-button routerLink="/github/Usuario/{{element.login}}">
          {{element.login}}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>