<mat-toolbar *ngIf="!hideToolbar">
  <button mat-icon-button title="Home" routerLink="/RH">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="back()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>Candidato - {{candidato.nome}}</span>
</mat-toolbar>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="tecnologias">

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-checkbox class="" (change)="updateTecnologia(element)" [(ngModel)]="element.possuiTecnologia"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tecnologia">
      <mat-header-cell *matHeaderCellDef> Tecnologia </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.descricao}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>