<mat-toolbar>
  <button mat-icon-button title="Home" routerLink="/RH">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/RH/Vagas">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>Vaga - {{vaga.descricao}}</span>
  <button mat-icon-button title="Adicionar Vaga" (click)="openAddCandidatoDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group (selectedTabChange)="atualizarLista()">
  <mat-tab label="Candidatos">
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="candidatos">

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button title="Remover Candidato" (click)="updateCandidato(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="candidato">
          <mat-header-cell *matHeaderCellDef> Candidato </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button routerLink="/RH/Candidato/{{element.id}}">
              <mat-icon>face</mat-icon>
              {{element.nome}}
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nota">
          <mat-header-cell *matHeaderCellDef> Nota </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button routerLink="/RH/Candidato/{{element.id}}">
              {{element.nota}}
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsCandidatos"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsCandidatos;"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
  <mat-tab label="Tecnologias">
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="tecnologias">

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox class="" (click)="openAddTecnologiaDialog($event, element)" [(ngModel)]="element.possuiTecnologia"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tecnologia">
          <mat-header-cell *matHeaderCellDef> Tecnologia </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.descricao}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nota">
          <mat-header-cell *matHeaderCellDef> Nota </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.nota}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>