<mat-drawer-container class="container">
  <mat-drawer mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="{{link.route}}" *ngFor="let link of links"> {{ link.display }} </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <p>
      Bem vindo! Escolha o sistema que deseja acessar ao lado.
    </p>
  </mat-drawer-content>
</mat-drawer-container>