<h1 mat-dialog-title>{{data.title}}</h1>
<form>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.descricao" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="close()" type="button">Cancelar</button>
    <button [disabled]="!data.descricao || data.descricao.trim() === ''" mat-button (click)="close(data)" type="submit">Confirmar</button>
  </div>
</form>