<mat-drawer-container class="container">
  <mat-drawer mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="{{link.route}}" *ngFor="let link of links"> {{ link.display }} </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>