<mat-toolbar>
  <button mat-icon-button title="Home" routerLink="/RH">
    <mat-icon>home</mat-icon>
  </button>
  <span>Candidatos</span>

  <button mat-icon-button title="Adicionar Candidato" (click)="openAddDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button title="Adicionar Candidato" (click)="openAddDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button title="Editar Candidato" (click)="openAddDialog(element)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button title="Detalhes Candidato" routerLink="/RH/Candidato/{{element.id}}">
          <mat-icon>face</mat-icon>
        </button>
        <button mat-icon-button title="Remover Candidato" (click)="openRemoveDialog(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="candidato">
      <mat-header-cell *matHeaderCellDef> Candidato </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.nome}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>