<mat-toolbar>
  <button mat-icon-button title="Home" routerLink="/RH">
    <mat-icon>home</mat-icon>
  </button>
  <span>Entrevista</span>
</mat-toolbar>

<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [completed]="step1Completed" label="1 - Vaga">
    <h1>Selecione a vaga a qual o candidato irá participar</h1>
    <div>
      <button mat-icon-button title="Adicionar Vaga" (click)="openAddVagaDialog()">
        <mat-icon>add</mat-icon>
        Adicionar Vaga
      </button>
    </div>
    <mat-form-field *ngIf="possuiVagas()">
      <mat-select placeholder="Selecione vaga" [(ngModel)]="vaga" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let vaga of vagas" [value]="vaga.id">
          {{ vaga.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-step>
  <mat-step [completed]="step2Completed" label="2 - Candidato">
    <h1>Selecione o candidato</h1>
    <div>
      <button mat-icon-button title="Adicionar Candidato" (click)="openAddCandidatoDialog()">
        <mat-icon>add</mat-icon>
        Adicionar Candidato
      </button>
    </div>
    <mat-form-field *ngIf="possuiCandidatos()">
      <mat-select placeholder="Selecione candidato" [(ngModel)]="candidato" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let candidato of candidatos" [value]="candidato.id">
          {{ candidato.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-step>
  <mat-step label="3 - Tecnologias Candidato">
    <app-candidato [candidatoIdInformado]='candidato' [hideToolbar]='true'></app-candidato>
  </mat-step>
  <mat-step label="4 - Finalizar Entrevista">
    <button [disabled]="finalizado" mat-icon-button title="Finalizar" (click)="vincularVagaCandidato()">
      <mat-icon>save</mat-icon>
      Finalizar
    </button>
  </mat-step>
</mat-horizontal-stepper>