<mat-toolbar>
  <button mat-icon-button routerLink="/github/Usuarios">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>Usuário GitHub - {{usuario.login}}</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Detalhes">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class=""></div>
        <mat-card-title>Nome: {{usuario.name}}</mat-card-title>
        <mat-card-subtitle>Data cadastro: {{usuario.created_at | date:'d/M/yy, h:mm a'}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{usuario.avatar_url}}" alt="Avatar">
      <mat-card-content>
        <p>
          Perfil:
          <a href="{{usuario.html_url}}">{{usuario.html_url}}</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Repositórios">

    <div class="mat-elevation-z8 v-overflow">
      <mat-table #table [dataSource]="repos">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.id}}
          </mat-cell>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>

        <!-- Url Column -->
        <ng-container matColumnDef="html_url">
          <mat-header-cell *matHeaderCellDef> Url </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a href="{{element.html_url}}">{{element.html_url}}</a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>